@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-font:"Montserrat";
    --secondary-font:"Montserrat Alternates";
}

h1, h2, h3, h4, h5{
    font-family: var(--secondary-font);
}

p{
    font-family: var(--secondary-font);
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, label::selection {
    color: rgb(37, 37, 37);
    background-color: rgb(239, 239, 239);
  }
  
.navbar{
    box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.35);
    font-family: var(--primary-font);
}

.hero {
background-image: url('https://images.unsplash.com/photo-1681398447048-eab34daa418b?q=80&w=2532&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
background-size: cover;
background-position: center;
padding: 6rem;
padding-top: calc(6rem + 60px);
}

.page-section{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.bg-colorato{
    background-color: #414141;
    padding: 2rem;
    padding-bottom: 7rem;
}

.slided-top{
    margin-top: -5rem;
}

.divider {
background-color: #393939;
height: 5px;
width: 100px;
border-radius: 8px;
}

/* card */

.card{
background-color: rgb(37, 37, 37); 
font-family: var(--secondary-font);
border: none;
display: flex;
justify-content: center;
align-items: center;
height: 100%;
overflow: hidden;
position: relative;
}

.card:hover .project-name {
opacity: 1;
}

.project-name {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
color: #fff;
transition: opacity 0.3s ease;
opacity: 0;
}

.card-img-top {
aspect-ratio: 1/1; /* Imposta l'aspect ratio a 1:1 */
transition: 0.5s;
object-fit: cover;
object-position: center;
}

.card:hover .card-img-top  {
transform: scale(1.2);
opacity: 0.3; 
}

@media (max-width: 767px) {
.hide-mobile {
    display: none;
    }
}

/* modal */

.btn{
padding: 0.5rem 1.5rem ;
}

.modal{
font-family: var(--primary-font);
}

.modal-title{
font-family: var(--secondary-font);
}
