@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-font:"Montserrat";
    --secondary-font:"Montserrat Alternates";

    /* color */
    --navbar-bg:#343434;
    --navbar-text:#EAEAEA;

    /* dark */
    --dark-bg-primary:#282828;     
    /* #2e2d2d  vedi se sostituire il bg 2 con questo più scuro*/
    --dark-bg-secondary:#343434;
    --dark-bg-tertiary:#A8A8A8;
    --dark-text-primary:#EAEAEA;
    --dark-text-secondary:#C6C6C6;

    /* text */
    --font-semibold: 600;
    --font-bold: 700;

    
    /* btn */
    --btn-dark:#464646;
    --btn-dark-text:#EAEAEA;
    --btn-light:#EAEAEA;
    --btn-light-text:#464646;

    --border-sm:4px;
    --border-lg:8px;
}

body{
    background-color: var(--dark-bg-primary);
}

h2, h3, h4, h5, h6{
    font-family: var(--secondary-font);
    color: var(--dark-text-primary);
}

p, .btn {
    font-family: var(--primary-font);
}

p {
    color: var(--dark-text-secondary);
    font-weight: var(--font-normal);
    line-height: 1.5rem;
    font-size: 0.875rem;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, label::selection {
    color: var(--dark-bg-primary);
    background-color:var(--dark-text-primary);
  }

@media (min-width: 767px) {
    p {
        font-size: 1rem;
       }
   }


h1{
    font-family: var(--primary-font);
    color: var(--dark-text-primary);
    font-weight: var(--font-semibold);
}

@media (min-width: 1200px) {
    h1 {
        font-size: 3.375rem;
       }
   }

h2{
    font-weight: var(--font-semibold);
    line-height: 2rem;
}

@media (min-width: 1200px) {
 h2 {
    font-size: 2.5rem;
    line-height: 3.125rem;
    padding-bottom: 0rem;
    }
}

#form-ridotto h2{
    padding-bottom: 2rem;
}

@media (min-width: 767px) {
#form-ridotto h2 {
    text-align: left;
    padding-bottom: 0rem;
    }
}

h3{
    font-weight: var(--font-bold);
    font-size: 1.12rem;
}

@media (min-width: 1200px) {
 h3 {
    font-size: 1.4rem;
    }
}

.title{
    flex-flow: column;
}

/* btn */

.btn{
    font-weight: var(--font-semibold);
    font-size: 1rem;
}

@media (max-width: 767px) {
    .btn {
        width: 100%;
       }
    .btn-xl{
        border-radius: var(--border-lg);
    }
    .btn-filter{
        width: auto!important;
    }
}

@media (min-width: 767px) {
    .btn-xl {
        padding: 1rem  8rem;
       }
   }

.btn-lg{
    padding: 1rem 2rem;
    border-radius: var(--border-lg);
}

.btn-sm{
    padding: 0.5rem 1rem;
    border-radius: var(--border-sm);
}

.btn-dark{
    background-color: var(--btn-dark)!important;
    color: var(--btn-dark-text)!important;
}

.btn-light{
    background-color: var(--btn-light)!important;
    color: var(--btn-light-text)!important;
}

/* navbar */

.navbar{
    background-color: var(--navbar-bg);
    font-family: var(--primary-font);
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
}

.nav-link{
    padding: 8px 16px!important;
    border-radius: var(--border-sm);
}

.navbar-nav{
    column-gap: 3rem;
}


/* inserisci un hover e active */

/* hero */

.hero {
    background-image: url('https://images.unsplash.com/photo-1681398447048-eab34daa418b?q=80&w=2532&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    padding: 2rem;
    padding-top: calc(2rem + 110px);
}

@media (min-width: 1200px) {
    .hero {
        padding: 6rem;
        padding-top: calc(6rem + 110px);
       }
   }
    
.page-section{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.page-section-start{
    padding-top: calc(4.5rem + 80px);
    padding-bottom: 3rem;
}

@media (min-width: 1200px){
    .page-section{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .page-section-start{
        padding-top: calc(6rem + 80px);
        padding-bottom: 5rem;
    }
}

/* about me */

#aboutme, #features, #review, #skill, #social, #portfolio-page, #project,#project-details, #gallery {
    background-color: var(--dark-bg-secondary);
}

.img-bg{
    height: 5.5rem;
    width: 5.5rem;
    background-color: var(--btn-dark);
    border-radius: 50%;
    display: flex; /* Usa il layout flessibile */
    justify-content: center; /* Centra orizzontalmente */
    align-items: center;
}

.feature{
    padding:  1.5rem 2rem;
}

.feature-text{
    padding-top: 1.5rem;
}

/* card */

.card{ 
    background-color: var(--dark-bg-primary);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.card:hover .project-name {
    opacity: 1;
}

.project-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.card-img-top {
    aspect-ratio: 1/1; /* Imposta l'aspect ratio a 1:1 */
    transition: 0.5s;
}

.card:hover .card-img-top  {
    transform: scale(1.2);
    opacity: 0.3; 
}

@media (max-width: 767px) {
    .hide-mobile {
        display: none;
    }
}


/* recensioni */

.info{
    color:var(--dark-bg-tertiary);
    font-weight: var(--font-semibold);
}

.reviews{
    justify-content: center;
    gap: 3rem;
}

.review{
    position: relative;
}

.review::before {
    content: open-quote; /* Aggiunge la virgoletta di apertura prima della citazione */
    position: absolute;
    top: 0.2em;
    left: -0.4em; /* Posiziona la virgoletta appena prima della citazione */
    font-size: 5rem;
  }
  
.review::after {
    content: close-quote; /* Aggiunge la virgoletta di chiusura dopo la citazione */
    font-size: 5rem;
    position: absolute;
    top: 1.2em;
    left: 4.2em; /* Posiziona la virgoletta appena prima della citazione */
    }

/* form */
.form{
    display: flex;
    justify-content: space-between;
    font-family: var(--primary-font);
}

form label{
    color:var(--dark-bg-tertiary);
    font-weight: 500;
}

.form-control{
    background-color: var(--btn-dark);
    border: 0;
    color: var(--dark-text-primary);
}

.form-control:focus {
    color:var(--dark-text-primary);
    background-color: #6f6f6f;
    outline: 0;
    box-shadow: 0 0 0 0.15rem var(--dark-bg-tertiary);
}

.form-control::placeholder {
    color: var(--dark-bg-tertiary)
}

/* footer */
footer{
    background-color: var(--navbar-bg);
    color: var(--dark-text-primary);
    padding-top:1.5rem;
    padding-bottom:1.5rem;
    justify-content: space-between;
}

.footer-text{
    font-size: 0.9rem;
}

@media (max-width: 767px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        text-align: center;
       }
   }

.socials{
    gap:0.5rem;
    justify-content: center;
    padding-top: 1rem;
}

@media (min-width: 767px) {
    .socials {
        display: flex;
        justify-content: end;
        padding-top: 0;
       }
   }

/* modal */
 
.modal{
font-family: var(--primary-font);
color: var(--dark-text-secondary);
}

.modal-content{
    background-color: var(--dark-bg-secondary);
}

.modal-title{
font-family: var(--secondary-font);
color: var(--dark-text-primary);
}


/* about me - page */

#aboutme-page, #aboutme-portfolio{
    background-color: var(--dark-bg-primary);
}

.progress-bar {
    background-color: var(--dark-bg-tertiary);
}


/* portfolio - page*/

.bg-colorato{
    background-color: var(--dark-bg-primary);
    padding: 2rem;
    padding-bottom: 15rem;
    margin-top: -7rem;
}

.slided-top{
    margin-top: -15rem;
}
#project{
    background-color: var(--dark-bg-primary);
}


#form-ridotto{
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}
/* project */
#portfolio-page .bg-colorato h2{
    margin-top: 4rem;
}

.filter-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.btn-filter, .btn-outline{
    padding: 0.5rem 2rem;
    margin-top: 0.3rem;
}

.btn-filter{
    font-weight: var(--font-normal);
}

.btn-outline{
    color: var(--dark-text-secondary);
    border: solid 0.1rem;
    font-family: var(--primary-font);
    background-color: transparent;
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom:0.5rem;
    text-align: center;
    font-size: 0.9rem;
}

@media (max-width: 767px){
    .btn-outline{
        padding:0.3rem 1rem ;
    }
}

#toTop{
    font-size: 20px;
    border-radius: 3px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    text-align: center;
    z-index: 10;
    transition: opacity 300ms ease-in-out;
    background-color: #5b5b5b;
    border-radius: var(--border-sm);
}

#toTop img{
    padding:0.7rem  0.5rem;
    width: 35px;
}

.skill{
    color: var(--btn-dark-text);
    background-color: #282828;
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: var(--border-sm);
    align-items: center;
    justify-content: center;
}

.skill-group{
    display: flex;
    gap: 0.5rem;
}

.btn svg{
    margin: 0 1rem;
}


@media (max-width: 767px){
    .img-space-bottom{
        padding-bottom: 2rem;
    }
}

@media (max-width: 767px){
    .img-space-top{
        padding-top: 2rem;
    }
}


.btn-close{
    background-image: url(assets/icon/ph_x-bold.svg);
}
